@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


body {
  margin: 0;
  font-family: "Roboto","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height:100vh;

  /* 일반 css에서 tailwind 사용시 */
  @apply flex flex-col  items-center;
  @apply bg-zinc-900 text-neutral-50
}

#root {
  @apply w-full;  
}


